.generate_text::-webkit-file-upload-button {
  visibility: hidden;
}
.generate_text::before {
  content: 'See what your bot is saying';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.generate_text:hover::before {
  border-color: black;
}
.generate_text:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.see_map::-webkit-file-upload-button {
  visibility: hidden;
}
.see_map::before {
  content: 'See the Map';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.see_map:hover::before {
  border-color: black;
}
.see_map:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

